<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Quiz</title>
    <link rel='stylesheet' href='style.css' />
    <script async defer src="script.js"></script>
  </head>
  <body>
        <nav class="navbar">
          <h3>Realtime collaborative quiz</h3>
        </nav>
        <div class="container">
           <ol class='question-list'>
        {{#each questions as |question|}}
          <li>
            <div class='question'>
              <div>
                <div>{{question.question}}</div>
              </div>
              <div class='question-options'>
                <div class='label-input'>
                  <input
                    class=''
                    type='radio'
                    name={{question.id}}
                  />
                  <div class='label'>
                    <div class='option'>{{question.option1.desc}}</div>
                    <div class='progress-text'>{{percentage question.option1.vote}}%</div>
                  </div>
                </div>

                <div  class='label-input'>
                  <input
                    class=''
                    type='radio'
                    name={{question.id}}
                  />
                  <div class='label'>
                    <div class='option'>{{question.option2.desc}}</div>
                    <div class='progress-text'>{{percentage question.option2.vote}}%</div>
                  </div>
                </div>

                <div class='label-input'>
                  <input
                    class=''
                    type='radio'
                    name={{question.id}}
                  />
                  <div class='label'>
                    <div class='option'>{{question.option3.desc}}</div>
                    <div class='progress-text'>{{percentage question.option3.vote}}%</div>
                  </div>
                </div>

                <div class='label-input'>
                  <input
                    class=''
                    type='radio'
                    name={{question.id}}
                  />
                  <div class='label'>
                    <div class='option'>{{question.option4.desc}}</div>
                    <div class='progress-text'>{{percentage question.option4.vote}}%</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        {{/each}}
           </ol>
        </div>
      
    </div>
  </body>
</html>